* {
    padding: 0;
    margin: 0;
}

p {
    font-size: 40px;
    font-family: "Poppins";
    color: #fff;
    height: 100%;
}

body {
    overflow: hidden;
}

.anim1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    min-height: 100vh;
    background: #000;
}

.anim1 span {
    display: inline-block;
    color: transparent;
    text-shadow: 0px 0px 0px #fd8300;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: 200px;
}

.anim1 span:nth-child(1) {
    animation-name: disappearleft;
}

.anim1 span:nth-child(2) {
    animation-name: disappearleft;
    animation-delay: .3s;
}

.anim1 span:nth-child(3) {
    animation-name: disappearight;
    animation-delay: .6s;
}

.anim1 span:nth-child(4) {
    animation-name: disappearleft;
    animation-delay: .8s;
}

.anim1 span:nth-child(5) {
    animation-name: disappearight;
    animation-delay: 1s;
}

@keyframes disappearleft {
    50% {
        transform: skew(90deg) translateY(-265%);
        text-shadow: 0px 0px 50px;
        opacity: 0;
    }
}

@keyframes disappearight {
    50% {
        transform: skew(-168deg) translateY(-304%);
        text-shadow: 0px 0px 50px;
        opacity: 0;
    }
}
